{{!-- This is under the assumption that the indivdual employee object gets passed into the employree directory. 
To do: Need a start date route? Maybe the date that the add employee form was created? --}}

<tr id="index-"{{id}} class="t-row is-fullwidth">
    <td id="selectDirRow" class="has-text-centered"><input type="checkbox"></td>
    <td id="icon" class="has-text-centered"><img src="img/profileicon.png" id="small_icon"></th>
    <td id="name" class="has-text-centered"><a src="/api/employeeprofile/{{id}}">{{EmployeeFirstname}} {{EmployeeLastname}}</a></td>
    <td id="email"class="has-text-centered">{{email}}</td>
    <td id="dept"class="has-text-centered">{{deptID}}</td>
    <td id="start-date"class="has-text-centered">{{start-date}}</td>
</tr>