<ol> Start of snippet
  <li>
    <article class="post">
      <div class="title">
      </div>
      <div class="meta">
        {{name}}
        is supervised by 
        {{supervisor}}
        on
        {{created_at}}
        Test Code Works for homepage route
        {{!-- <a href="/departments/{{id}}">{{comments.length}} comment(s)</a> --}}
      </div>
    </article>
  </li>
</ol>End of code snippet